<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "log4j.dtd">

<log4j:configuration debug="false"
	xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<!--layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d %-5p [%t] %C (%F:%L) - %m%n" />
		</layout-->
        <!--
        Lager litt enklere output for "produksjon"
        -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%m%n" />
		</layout>
	</appender>

	<!--  Hibernate  -->
	<!-- 
	<category name="org.hibernate.loader.hql.QueryLoader" additivity="false">
		<priority value="debug" />
		<appender-ref ref="STDOUT" />
	</category>
	-->
	<root>
		<priority value="info" />
		<appender-ref ref="STDOUT" />
	</root>
</log4j:configuration>